.container-wrapper {
  margin: 1em auto;
  max-width: 800px;
  width: 95%;
  font: 18px/1.5 sans-serif;
}

.underlined {
  text-decoration: underline;
}

.bottom-footer {
  width: 100%;
  height: 35px;
  line-height: 35px;
}

.font-white {
  color: white;
}

.logo-medium {
  max-width: 64px;
  max-height: 64px;
}

.logo-large {
  max-width: 256px;
  max-height: 256px;
}

.text-right {
  text-align: right !important
}

.card-width {
  width: 18rem;
}
